{% extends 'core/base.html' %}

{% block title %}Documents{% endblock %}

{% block content %}
<div class="card border-light shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <!-- add breadcrumb here -->
        <div>
            <a class="btn btn-outline-info" href="javascript:history.go(-1)"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div>
            {% if parent_folder %}
            <a class="btn btn-info" href="{% url 'document:folder_create' parent_folder_id=parent_folder.id %}"><i class="fas fa-folder-plus"></i> </a>
            <a class="btn btn-info" href="{% url 'document:file_upload' parent_folder_id=parent_folder.id %}"><i class="fas fa-file-upload"></i></a>
            {% else %}
            <a class="btn btn-info" href="{% url 'document:folder_create' %}"><i class="fas fa-folder-plus"></i> </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Size</th>
                    <th>Creation Time</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for folder in folders %}
                <tr>
                    <td>
                        <button type="button" class="btn"><span><i class="fas fa-folder"></i></span>
                            <a href="{% url 'document:document_list' folder_id=folder.id %}">{{ folder.name }}</a>
                        </button>
                    </td>
                    <!-- TODO: Display folder size -->
                    <td></td> 
                    <td>{{ folder.created }}</td>
                    <td> </td>
                    <td>
                        <a href="#" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'document:folder_delete' folder_id=folder.id %}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}

                {% for file in files %}
                <tr>
                    <td>
                        <button type="button" class="btn"><span><i class="fas fa-file"></i></span>
                            <a href="{% url 'document:file_download' file_id=file.id %}">{{ file.name }}</a>
                        </button>
                    </td>
                    <!-- TODO: Display file size -->
                    <td>Null</td>
                    <td>{{ file.created }}</td>
                    <td>{{ file.description }}</td>
                    <td>
                        <a href="{% url 'document:file_download' file_id=file.id %}" class="btn btn-sm btn-secondary"><i class="fas fa-file-download"></i></a>
                        <a href="{% url 'document:file_delete' file_id=file.id %}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}