{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Category{% endblock %}

{% block content %}

    <div class="container">
        <div class="card border-light shadow">
            <div class="card-header bg-dark-custom">
                Create a new category
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="fieldset">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
