{% extends 'core/base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header bg-dark-custom">Users</div>
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Participant</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in users %}
                                <tr>
                                    <td>{{ u.first_name }} {{ u.last_name }}</td>
                                    <td>{{ u.participant }}</td>
                                    <td>{{ u.email }}</td>
                                    <td>{{ u.get_group_names }}</td>
                                    <td>
                                        {% if u.is_active %} 
                                            <span class="badge badge-pill badge-success">Active</span> 
                                        {% else %} 
                                            <span class="badge badge-pill badge-secondary">Passive</span>  
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'account:role_assing' u.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <select 
                                                    class="form-control btn btn-sm border" 
                                                    onchange="this.form.submit()"
                                                    name="chosen_role">
                                                  <option value="" hidden>Assign Roles</option>
                                                  {% for role in roles %}
                                                    <option value="{{ role }}">{{ role }}</option>
                                                  {% endfor %}
                                                </select>
                                            </div>
                                        </form>
                                        {% if u.is_active %}
                                            <a href="{% url 'account:deactivate_user' u.id %}" 
                                                class="btn btn-sm btn-warning"
                                                type="button" data-toggle="tooltip" 
                                                data-placement="left" title="Deactivate">
                                                <i class="fab fa-creative-commons-zero"></i> Deactivate
                                            </a>
                                        {% else %}
                                            <a href="{% url 'account:activate_user' u.id %}" class="btn btn-sm btn-success"
                                                type="button" data-toggle="tooltip" 
                                                data-placement="top" title="Activate">
                                                <i class="fab fa-creative-commons-sampling"></i> Activate
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}