{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-light shadow-lg">
                <div class="card-header bg-custom-dark">
                    Fill in the following form to login
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">
                                Login
                            </legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}