{% extends 'core/base.html' %}

{% block title %}Broadcast{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for broadcast in broadcasts %}
        <div class="card border-light shadow mb-4">
            <div class="card-header">
                <strong>{{ broadcast.title }}</strong>
                {% if perms.communication.change_broadcast %}
                <a href="{% url 'communication:publish' broadcast.id %}" class="btn btn-success btn-sm ml-2">Publish</a>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="card-text">
                    {{ broadcast.body }}
                </div>
            </div>
        </div>
    {% empty %}
        <div>
            <p>No broadcasts!</p>
        </div>
    {% endfor %}
</div>

{% endblock %}