{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Upload File{% endblock %}

{% block content %}

    <div class="container">
        <div class="card border-light shadow">
            <div class="card-header bg-dark-custom">
                Upload a file
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="fieldset">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <a class="btn btn-outline-info" href="javascript:history.go(-1)"><i class="fas fa-arrow-left"></i></a>
                    <input type="submit" class="btn btn-primary" value="Upload">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
